{{> head }}

  {{> navbar }}
<div class="container mt-3">
  <div class="row">
    <div class="col-8">
      <h1>Sobre Nosotros</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt minima, expedita iste saepe omnis obcaecati eius reiciendis in dolores, quod unde? Eligendi voluptas repellat, rem consequuntur alias adipisci omnis veritatis?</p>
    </div>
    <div class="col-4">
      <img src="{{ imgUrl }}" class="img-thumbnail">
    </div>
  </div>
</div>

{{> footer}}